<h2>Giovanni, this is your home page </h2>


<ul>
  <% @tasks.each do |task| %>
  <li><%=link_to task.title, task_path(task.id) %></li>
  <%end%>
</ul>
<br>
<%= link_to "Add another task", tasks_new_path  %>
<br>
